﻿@using AnthologyWeb.Models;
@using AnthologyWeb.Controllers;

@inherits UmbracoViewPage<SignInModel>
@{
    Layout = null;
}

@Html.ValidationSummary()

<script src="~/scripts/SignInValidation.js"></script>
<h1 style="margin-top: 20px">Sign In Page</h1>

@using (Html.BeginUmbracoForm<SignInController>("HandlePost"))
{
    <table>
        <tr>
            <td><label for="firstName">First Name</label></td>
            <td>@Html.TextBoxFor(x => x.FirstName, new { @name = "firstName", @placeholder = "First Name", @onblur = "ValidateFirstName()" })</td>
            <td id="firstNameError" class="error" style="color: red" hidden>Please enter first name with characters A-Z, hyphen(-) or period(.)</td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name</label></td>
            <td>@Html.TextBoxFor(x => x.LastName, new { @name = "lastName", @placeholder = "Last Name", @tabindex = "0", @onblur = "ValidateLastName()"})</td>
            <td id="lastNameError" class="error" style="color: red" hidden>Please enter last name with characters A-Z, hyphen(-) or period(.).</td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td>@Html.TextBoxFor(x => x.Email, new { @name = "email", @placeholder = "Email", @onblur = "ValidateEmail()" })</td>
            <td id="emailError" class="error" style="color: red" hidden>Please enter a valid email address.</td>
        </tr>
    </table>
    <input type="submit" id="submit" value="Sign In" onsubmit="ValidateAllFields()" />
}

<br />
<br />
<br />
<a href="~/VisitorLog">Visitor Log</a>