﻿@using AnthologyWeb.Models.DbModels;

@inherits UmbracoViewPage<List<User>>
@{
    Layout = null;
}

<h1 style="margin-top: 20px">Visitor Log</h1>

<table>
    <thead>
        <tr>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Created Date</td>
        </tr>
    </thead>
@foreach (var user in Model)
{
    <tr>
        <td>@user.Email</td>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.CreatedDate</td>
    </tr>
}
</table>

<br />
<br />
<br />
<a href="~/SignIn">Sign In</a>