﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@CurrentPage.pageTitle | @CurrentPage.siteName</title>

      <link href="css/bootstrap.min.css" rel="stylesheet" />
      <link href="~/css/font-awesome.min.css" rel="stylesheet" />
      <link href="~/css/main.css" rel="stylesheet" />
      <link href="~/css/ie9.css" rel="stylesheet" />

      <script src="~/js/ie/html5shiv.js"></script>
      <script src="~/js/ie/respond.min.js"></script>
      <script src="~/js/jquery.min.js"></script>
      <script src="~/js/bootstrap.min.js"></script>
      <script src="~/js/skel.min.js"></script>
      <script src="~/js/main.js"></script>
      <script src="~/js/util.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="container-fluid">
          <div class="container">
              @Html.Partial("MainNavigation")
          </div>
      </div>
      <div class="container-fluid">
          <div class="container">
              @RenderBody()
          </div>
      </div>
		<div class="container-fluid">
            <div class="container">
                @Html.Partial("BottomNavigation")
            </div>
        </div>
  </body>
</html>