﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SignIn>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
    <div class="container">
        @Html.Action("SignIn", "SignIn")
    </div>
</div>