﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container-fluid">
    <div class="container">
        @Html.Action("VisitorLog", "SignIn")
    </div>
</div>